/*General Style*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Roboto&display=swap');

body, html {
    height: 100%;
}

body {
    background-color: #1f8ac0;
}

h2, h3, h4, h5, dt {
    font-family: 'Montserrat', sans-serif; 
}

p, li, dd a {
    font-family: 'Roboto', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.width-100 {
    width: 100vw;
}

/*Fade in animation applied to body*/
.fade-in {
animation: fadeIn  ease-out 4s;
-webkit-animation: fadeIn ease-out 4s;
-moz-animation: fadeIn ease-out 4s;
-o-animation: fadeIn ease-out 4s;
-ms-animation: fadeIn ease-out 4s;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

/*Nav styling*/

.logo {
    font-size: 200%;
    padding-left: 10px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif; 
}

.nav-item a:hover {
    border-bottom: 1px solid#1f8ac0;
}

.code-icon:hover {
    color: #1f8ac0;
}

/*Landing Page Background-image*/
.landing-page-bg-image {
    padding-top: 25rem;
    background-image: url('https://mikew1999.github.io/Milestone-1-Online-Resume/assets/images/iStock-1174690086.jpg');
    background-color: #ffffff;
    height: 100vh;
    min-width: 95vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

@media only screen and (max-width: 400px) {
    .landing-page-bg-image {
        padding-top: 7.5rem;
    }
}

@media only screen and (max-width: 850px) and (orientation: landscape) {
    .landing-page-bg-image {
        padding-top: 7.5rem;
        height: 150vh;
        width: 100vw;
    }
}

/*Landing page main headings*/
.name-heading {
    font-weight: 800;
}

.job-title-heading {
    font-size: 1.5rem;
}

.name-heading, .job-title-heading {
    color: #ffffff;
}

/*Contact button*/
.contact-me-button {
    background-color: #213970;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9rem;
    border: solid #213970;
    border-radius: 8px;
    min-width: 10rem;
    min-height: 2.5rem;
    margin: 0 auto;
}

.contact-me-button:hover {
    font-size: 1rem;
    color: #ffffff;
}

/*Summary*/
.summary-container {
    min-width: 95vw;
    min-height: 50vh;
    color: #ffffff;
}

@media only screen and (max-width: 823px) and (orientation: landscape) {
    .summary-container {
        margin-bottom: 0rem;
    }
}

#profile-image {
    border-radius: 50%;
    border: 3px solid #ffffff;
    max-height: 25vh;
    max-width: 25vw;
}

.summary {
    color:#ffffff;
}

#summary-section-header {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.summary-text, .future-plans {
    margin: auto;
    width: 85%;
    font-size: 1rem;
}

@media only screen and (min-width: 1000px) {
    .summary-text, .future-plans {
        width: 60%;
    }
}

.summary-text img {
    margin-bottom: 1rem;
}

.future-plans img {
    margin-bottom: 1rem;
}

.summary-text a {
    color: #ffff;
}

.summary-text p, .future-plans p {
    margin-top: 2rem;
}

.summary-buttons {
    margin: 0 auto;
}

.summary-buttons a {
    color: #213970;
}

.about-me-button, .download-cv {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    background-color: #F8F5F0;
    width: 10rem;
}

.about-me-button {
    margin-right: 0.5rem;
}

.download-cv {
    margin-left: 0.5rem;
}

.about-me-button:hover, .download-cv:hover {
    color: #213970;
    font-size: 0.6rem;
}

.summary-linebreak {
    border-bottom: 1px solid #ffffff;
    width: 75vw;
}

/*My work*/
.my-work {
    background-color: #213970;
    color: #ffffff;
    width: 100%;
}

.my-work cite {
    color: #ffffff;
}

.my-work-linebreak {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 2rem;
    width: 60%;
}

.my-work-header {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-work-examples img {
    width: 80%;
    height: auto;
    margin-bottom: 2rem;
}

.love-running-context, .resume-context {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 2rem;
    font-size: 1rem;
}

@media only screen and (min-width: 1000px) {
    .love-running-context, .resume-context {
        max-width: 60%;
    }
}

.portfolio-button {
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: #213970;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    font-size: 0.9rem;
}

.portfolio-button:hover {
    font-size: 1rem;
    color: #ffffff;
}

/*Carousel icons*/
#carousel-icons {
    background-color: #ffffff;
    padding-top: 2rem;
}

.carousel-item i {
    margin-bottom: 8rem;
}

@media only screen and (max-width: 500px) {
    .carousel-item i {
        margin-bottom: 10rem;
    }
}

.carousel-item i, .carousel-item div {
    color: #213970;
}

.palette-icon, .layer-icon, .mobile-icon {
    font-size: 3rem;
}

/*Bottom Nav Buttons and Quotes*/
.bottom-nav-buttons {
    margin-top: 2rem;
    font-size: 1rem;
}

.bottom-nav-buttons a {
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: #F8F5F0;
    width: 10rem;
}

.bottom-nav-buttons a:hover {
    font-size: 0.6rem;
}

.quotes, .quotes cite {
    color: #F8F5F0;
}

/*About Me Page*/
.about-me-main-header {
    margin-top: 5rem;
    color: #ffffff;
}

.about-me-summary {
    color: #ffffff;
}

/*Portfolio Page*/

.portfolio-header {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

/*Contact Details*/

.contact-icon {
    font-size: 4rem;
    margin-top: 0.5rem;
}

.contact-details-container {
    margin: 0 auto;
    width: 50%;
    text-align: center;
    color: #ffffff;
}

.contact-details-container a {
    color: #ffffff;
}

.contact-details-header, .future-plans-header {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/*Footer*/

footer {
    height: 7.5vh;
    background-color: #343a40;
}

footer a {
    text-decoration: none;
    color: #ffffff;
    line-height: 7.5vh;
    padding-left: 1rem;
}

footer a:hover, footer i:hover {
    color: #fd9927;
}

footer i {
    line-height: 7.5vh;
    float: right;
    color: #ffffff;
}